.intro-content {
  text-align: center; }

.page-title {
  text-shadow: 3px 3px #4f4f4f; }

.list {
  padding: 6px 1rem; }
  .list td, .list th {
    border: 1px solid black; }
  .list th {
    padding: 0.75rem 0.75rem; }
  .list table {
    border-collapse: collapse; }
  .list h2 {
    text-align: center;
    margin-bottom: 0.2rem; }

.hidden {
  display: none !important; }

.parallax {
  position: relative; }

.intro-img {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.intro-img-one {
  z-index: 0;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

span.meal-label {
  display: inline-block;
  min-width: 91px; }

.show-second .intro-img-two {
  opacity: 1;
  transition: opacity 1.5s ease-in-out; }

.intro-text, .intro-rsvp {
  z-index: 2; }

.intro-text {
  color: floralwhite;
  font-size: 50px;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 2px #969696;
  width: 100%;
  text-align: center; }

.intro-rsvp {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%; }
  .intro-rsvp .rsvp-button, .intro-rsvp .instructions {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px; }
  .intro-rsvp .instructions {
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    width: 50px;
    color: #d9d9d9; }
    .intro-rsvp .instructions i {
      margin-left: 3px; }
  .intro-rsvp .instructions:hover {
    color: white;
    border: 1px solid white; }
  .intro-rsvp a {
    width: 125px;
    background-color: darkred;
    text-decoration: none;
    display: inline-block;
    text-align: center; }
  .intro-rsvp a:hover {
    background-color: #be0000; }

.rsvp-block.content {
  text-align: center; }

.rsvp-header {
  margin-bottom: 25px; }

#rsvp-form {
  padding: 1rem !important;
  text-align: center; }
  #rsvp-form input, #rsvp-form select {
    font-size: 22px; }
  #rsvp-form .first-name {
    width: 70%;
    margin: 0 auto; }
    #rsvp-form .first-name input {
      height: 75px; }
  #rsvp-form .meal-pref {
    margin: 45px auto; }
  #rsvp-form .rsvp-radio-container {
    width: 70%;
    margin: 40px auto 0;
    text-align: center;
    overflow: auto; }
    #rsvp-form .rsvp-radio-container .rsvp-radio {
      margin-bottom: 1px;
      display: inline-block;
      float: initial; }

.select-container {
  position: relative;
  display: inline-block;
  height: 40px;
  margin: 0 1rem; }
  .select-container .select-down-icon {
    color: #ccc;
    position: absolute;
    left: 45px;
    top: 11px;
    font-size: 16px;
    pointer-events: none; }

.meal-pref .select-wrapper {
  display: inline; }

.meal-pref-select {
  display: inline;
  width: 65px;
  height: 40px;
  margin-right: 11px; }

.submit-button {
  position: relative;
  width: 40%;
  height: 4rem;
  outline: none; }

.submit-button.submitted {
  cursor: pointer;
  pointer-events: none; }

.submit-loader {
  vertical-align: middle;
  height: 75%; }

.submit-success {
  vertical-align: middle;
  height: 75%; }

.site-footer {
  padding: 1rem 0; }

.video-block {
  padding: 4rem 4rem 3rem !important; }

.wallet-money, .wallet-box {
  border-top: 1px solid #ebebeb; }

.section-header {
  margin-bottom: 27px; }

@media (max-width: 736px) {
  .intro-img-one {
    background-attachment: scroll !important; }

  .video-block {
    padding: 4rem 2rem 2rem !important; }
    .video-block .instruction-video {
      width: 100%;
      height: 300px; } }

/*# sourceMappingURL=custom.css.map */
